
.board-wrapper {
  width: 20%;
  margin: auto;
}

.board-column {
  height: 100px;
  width: 75px;
  border: 1px solid black;
  padding: 0 !important;
  /* The !important rule in CSS is used to add more importance to a property/value than normal. In fact, if you use the !important rule, it will override ALL previous styling rules for that specific property on that element! */
}

.board-square {
  height: 100%;
  width: 100%;
  font-size: 80px;
  color: white;
}

.square_O {
  background-color: green;
}

.square_X {
  background-color: red;
}

p {
  font-size: 24px;
  font-weight: 600;
  margin-top: 100px !important;
}